/* Starlight purple is #522f91 */
body {
    background-color: #522f91;
    color: white;
    justify-content: center;
  }
button {
    text-align: center;
    background-color: black;
    color: white;
    border: none;
}
#video
{
  box-sizing: content-box;
  width: 70%;
  padding: 1%;
}
