/* Starlight purple is #522f91 
    Starlight Yellow is #ffe716
*/

  
header{
  background-color: #341d5e;
  padding: 0% 0% ;
  border: 0%;
  margin: 0% 0%;
} 

body {
    background-color: #522f91;
    color: #ffe716;
    margin: 0;
  }

  
head{
  color: #000;
  width: 100%;
}

 #logo{
height: 40px;
margin: 1% 0% 1% 1%;
 }

#leftchoice, #rightchoice {
    text-align: center;
    background-color: #ffe816c5;
    color: black;
    border: none;
    padding: 5px 10px;
    display: none;
    
}
#leftchoice:hover, #rightchoice:hover {
    background:#ffe716;
    transition:  .5s;
    color:black;
    
}


#leftchoice 
{
  box-sizing: content-box;
  width: 20%;
  height: 10%;
  position: absolute;
  left: 15%;
  bottom: 5%;
  z-index: 1;
  font-size: large;
}

#rightchoice
{
  box-sizing: content-box;
  width: 20%;
  height: 10%;
  position: absolute;
  right: 15%;
  bottom: 5%;
  z-index: 1;
  font-size: large;
}


#player{
  box-sizing: content-box;
  position: relative;
  padding: 0%;

}
#video
{
  box-sizing: content-box;
  width: 100%;
  
  margin: 0px;
  z-index: 0;
}
